*{
    margin: 0;
    padding: 0;
}

/* a {
    text-decoration: none;
    color: #494747;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Poppins:ital,wght@0,700;1,500;1,600&display=swap');

.btn-dark{
    background-color: #2E2A2A;
    font-weight: bold;
    border: 0;
    font-size: 19px;
}

.click{
    color: #3D3D3D;
    font-weight: bold;
}



.notclick{
color: #818181;
}
.btn-dark:hover{

    background-color: #494747;
    border-color: #494747;
    font-weight: bold;

}

.btn-dark:active{
    background-color: #494747;
    border-color: #494747;
}

.btn-dark:disabled{
    background-color: #494747;
    border-color: #494747;
}

.btn-dark:active {
    outline: none !important;
    background-color: #2AB27B;
    box-shadow: none;
 }

body{
    margin: 0;
    padding: 0;

    background-color: #EFE7E7;
    font-family: 'Poppins', sans-serif;

}

.main-message{
    border-radius: 0.2em;
    padding: 1em  0.5em;
    background-color: #c7c6c6;
}


.align-center{
    background-color: #FBFAF5;
    /* justify-content: center; */
    padding: 0.4em;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn-secondary{
    border: 0;
   padding: 0.5em;
    width: 100%;
    background-color: #2AB27B;
}

.btn-secondary {
    font-size: 20px;
font-weight: bold;
}

.btn-secondary:hover{
    border: 0;
    background-color: #3ac58d;
}


p{
    margin: 0;
    padding: 0;
}

a{
    font-family: 'Poppins', sans-serif;

}

h1{
    font-weight:600;
}

.section{
  margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #D9D9D9;
}

.nav-head-text{
    font-weight: bold;
}


/* Form */



.form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-registration input{
    margin-bottom: -1px;

    border-radius: 0;
  }

  .comment-card{
    display: flex;
    background-color: #E0E0E0;
    margin-bottom: 1.3em;
    padding-bottom: 2.8em;
}

.user-cmn{
    margin-top: 0.5em;
    font-size: 0.9em;
}
.cmn-body{
    border-bottom: 1px solid #aba8a8;
}


/* css form trasnparaent */

a:hover{
    opacity: 0.8;
}

.box .inputBox {
	position: relative;
}
.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: rgb(114, 114, 114);
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid rgb(114, 114, 114);
	outline: none;
	background: transparent;
}
.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: rgb(114, 114, 114);
	pointer-events: none;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad{
    0%{
        transform: rotate(0) translateY(-19px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
	top: -19px;
	left:0;
	color: #03A9F4;
	font-size: 12px;
}
.box input[type='submit'] {
	background: transparent;
	border: none;
	outline: none;
	color: rgb(114, 114, 114);;
	background: #03A9F4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}
.box input[type='submit']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}
@media(max-width: 720px){
	.box {
		width: 80%;
	}
}

/* Home css */
.author{
    opacity: 0.9;
    font-size: 0.9em;
}

.title{
    font-size: 1.2em;
    font-weight: bold;
}

.category{
    opacity: 0.9;
    font-size: 0.9em;
}
